@import url('https://fonts.googleapis.com/css?family=Nunito:600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(221, 219, 201);
}

a {
  text-decoration: none;
  color: black;
}

.load {
  width: 100%;
  height: 100vh;
  background: rgb(244, 245, 236);
  position: fixed;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pic {
    position: fixed;
    margin-top: 8vh;
    width: 100%;
    height: 100vh;
    background: url("../../../img/oparty.png") center center;
    background-size: 150%;
    z-index: -100;

  }

  .glow {
    width: 80%;
    height: 12vh;
    margin-top: 1550px;
    background: rgb(145, 138, 105);
    border-radius: 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 7;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    color: rgb(226, 218, 185);
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);

  }

  .text {
    margin-top: -6vh;
    width: 100%;
    background: rgb(221, 219, 201);
    z-index: 6;

  }

  .text__img {
    width: 80%;
    border-radius: 20px;
    height: 200px;
    background: url("../../../img/vans.jpg") center center no-repeat;
    background-size: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }

  p {
    margin-top: 15%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.45rem;
    text-align: justify;
  }
}

.autor {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(209, 206, 180);

  .face {
    width: 150px;
    height: 150px;
    background: url("../img/face.jpg");
    background-size: cover;
    border-radius: 1000px;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);
  }

  h3 {
    margin-top: 15px;
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
  }

}
